/*-----------HTML COLOURS-----------*/
:root {
    --body-color: #292929;
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #f39c12;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --link-color: #1abc9c;
    --hover-color: #e74c3c;
    --border-color: #95a5a6;
    --shadow-color: rgba(0, 0, 0, 0.1);
}